.idea/
Assembly-CSharp-Editor.csproj
Assembly-CSharp.Player.csproj
Assembly-CSharp.csproj
PPv2URPConverters.csproj
Temp/
Logs/
Library/
URP_PBR.sln
Unity.2D.Sprite.Editor.csproj
Unity.2D.Sprite.Package.EditorTests.csproj
Unity.2D.Tilemap.Editor.csproj
Unity.2D.Tilemap.Package.EditorTests.csproj
Unity.RenderPipeline.Universal.ShaderLibrary.Player.csproj
Unity.RenderPipeline.Universal.ShaderLibrary.csproj
Unity.RenderPipelines.Core.Editor.Tests.csproj
Unity.RenderPipelines.Core.Editor.csproj
Unity.RenderPipelines.Core.Runtime.Player.csproj
Unity.RenderPipelines.Core.Runtime.Tests.csproj
Unity.RenderPipelines.Core.Runtime.csproj
Unity.RenderPipelines.Core.ShaderLibrary.Player.csproj
Unity.RenderPipelines.Core.ShaderLibrary.csproj
Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.Player.csproj
Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
Unity.RenderPipelines.Universal.Editor.Tests.csproj
Unity.RenderPipelines.Universal.Editor.csproj
Unity.RenderPipelines.Universal.Runtime.Player.csproj
Unity.RenderPipelines.Universal.Runtime.Tests.csproj
Unity.RenderPipelines.Universal.Runtime.csproj
Unity.RenderPipelines.Universal.Shaders.Player.csproj
Unity.RenderPipelines.Universal.Shaders.csproj
Unity.ShaderGraph.Editor.Tests.csproj
Unity.ShaderGraph.Editor.csproj
Unity.ShaderGraph.Utilities.csproj
UnityEditor.UI.EditorTests.csproj
UnityEditor.UI.csproj
UnityEngine.UI.Player.csproj
UnityEngine.UI.Tests.csproj
UnityEngine.UI.csproj
obj/
URP_PBR.sln.DotSettings.user
.DS_Store
*.sln